* {
    overflow: hidden;
}

body {
    margin: 0;
}

h1 {
    text-align: center;
    height: 5vh;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
}

.gameContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 442px;
    width: 80vw;
    border: solid 1px red;
    background-color: aliceblue;
}

.top {
    display: flex;
    justify-content: space-between;
    height: 60vh;
    min-height: calc(300px + 5vh);
    border-right: solid 1px rebeccapurple;
    border-left: solid 1px rebeccapurple;
}


.left,
.right {
    min-width: 200px;
}

.center {
    width: 7% !important;
    min-width: 42px;
}

.left,
.right,
.center {
    max-height: 60vw;
    min-height: calc(300px + 5vh);
    background-color: antiquewhite;
}


.computerName,
.playerName,
.score {
    height: 5vh;
    margin: 0 1vw;
    font-size: 16pt;
    padding-top: 2vh;
}

.score {
    color: brown;
    font-size: 24pt;
    font-weight: 900;
    margin: 0 5vw;
    border: none;
}

.top > div {
    width: 27.5vw;
}

img {
    max-width: 20vw;
    min-width: 145px;
    margin: 2vh 0;
    height: auto;
    max-height: 45vh;
}

.rightImg,
.leftImg {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    min-height: 300px;
}

.imgPlayer > img {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

.playerName {
    text-align: right;
}

.center {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 5vw !important;
}

.bottom {
    display: flex;
    padding: 5vh 0 2.5vh 0;
    flex-direction: column;
    align-items: center;
    gap: 1vh;
    width: 60vw;
    background-color: beige;
    border-right: solid 1px rebeccapurple;
    border-left: solid 1px rebeccapurple;
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer > * {
    margin: 0;
}

@media (max-width: 450px) {

}