* {
    overflow: hidden;
}

body {
    margin: 0;

}

h1 {
    text-align: center;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
}

.gameContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 442px;
    width: 80vw;
    border: solid 1px red;
    background-color: aliceblue;
}

.top {
    display: flex;
    justify-content: space-between;
    height: 60vh;
    width: 60vw;
    min-height: calc(300px + 5vh);
    border-right: solid 1px rebeccapurple;
    border-left: solid 1px rebeccapurple;
}


.left,
.right {
    min-width: 200px;
    padding: 0 1vw;
}

.center {
    width: 7% !important;
    min-width: 42px;
}

.left,
.right,
.center {
    min-height: calc(300px + 5vh);
    background-color: antiquewhite;
}


.computerName,
.playerName,
.score {
    margin: 0 1vw;
    font-size: 16pt;
    padding-top: 2vh;
}

.score {
    color: brown;
    font-size: 24pt;
    font-weight: 900;
    margin: 0 5vw;
    border: none;
}

.top > div {
    width: 27.5vw;
}

img {
    max-width: 100%;
    max-height: 50vh;
    margin: 2vh 0;
}

.rightImg,
.leftImg {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 55vh;
}

.imgPlayer > img {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

.playerName {
    text-align: right;
}

.center {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 5vw !important;
}

.bottom {
    display: flex;
    padding: 5vh 0 2.5vh 0;
    flex-direction: column;
    align-items: center;
    gap: 1vh;
    width: 60vw;
    background-color: beige;
    border-right: solid 1px rebeccapurple;
    border-left: solid 1px rebeccapurple;
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 7vh;
    background-color: blanchedalmond;
    position: fixed;
    bottom: 0;
    padding: 1vh 0;
    width: 100%;
}

footer > * {
    margin: 0;
    font-size: 2vh;
}

@media (max-width: 815px), (max-height: 725px) {
    h1 {
        min-height: 3vh;
        font-size: 4.25vh;
    }
     
    .gameContainer {
        width: 95vw;
    }
    
    .top,
    .bottom {
        width: 90vw;
    }

    .top {
        min-height: 50vh;
        justify-content: center;
    }

    .right,
    .left,
    .center {
        min-height: 75vh;
    }

    .top > div {
        width: 47.5%;
    }

    .center {
        width: 5% !important;
    }

}

@media (max-width: 515px), (max-height: 575px) {
    .top,
    .bottom {
        width: 95vw;
    }


    .right,
    .left {
        min-width: 0;
    }

    img {
        min-height: 0 !important;
    }

}

@media (max-height: 560px) {
    footer > a {
        font-size: 0;
    }
    
    footer > p {
        font-size: 2.5vh;
    }

    footer {
        max-height: 3vh;
        padding: 0.5vh;
    }

    .computerName,
    .playerName {
        font-size: 12pt;
    }

}

@media (max-height: 400px) {
    .description {
        font-size: 0;
    }

    h1 {
        font-size: 20px;
    }
}
