* {
    overflow: hidden;
}

body {
    margin: 0;
}

h1 {
    text-align: center;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
}

.gameContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 442px;
    width: 80vw;
}

.top {
    display: flex;
    justify-content: space-between;
}

.left,
.right {
    min-width: 200px;
}

.center {
    width: 7% !important;
    min-width: 42px;
}



.computerName,
.playerName,
.score {
    height: 5vh;
    font-size: 16pt;
    margin: 0 5vw;
}

.score {
    color: brown;
    font-size: 24pt;
    font-weight: 900;
}

.top > div {
    width: 27.5vw;
}

img {
    max-width: 20vw;
    min-width: 145px;
    margin: 2vh 0;
    height: auto;
}

.rightImg,
.leftImg {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.imgPlayer > img {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

.playerName {
    text-align: right;
}

.center {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 5vw !important;
}

.bottom {
    display: flex;
    margin-top: 5vh;
    flex-direction: column;
    align-items: center;
    gap: 1vh;
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer > * {
    margin: 0;
}

@media (max-width: 442px) {

}